[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pm4py = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
scikit-learn = "*"
shap = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.14"
